/* Base template */

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    color: #333333;
    background-color: #FFFAF1;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: 500;
    color: #000000;
}


/* Navbar */
.custom-nav { 
    background-color: #FFFAF5 !important;
    border-bottom: 1px solid #333333;
}

.custom-nav .container-fluid {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.navbar-brand, .nav-link {
    color: #333333 !important;
    min-width: 70px;
}

.navbar-nav .nav-link:hover {
    font-weight: 500;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}


/* Hero Section */
.hero-section {
    padding: 5rem 1rem;
}

.hero-heading {
    font-family: serif;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.hero-tagline {
    font-family: sans-serif;
    font-size: clamp(3.3rem, 6vw, 5rem);
    line-height: 1;
    margin-bottom: 3.5rem;
}

.hero-tagline span {
    display: block;
    color: #000000;
}


/* Card */
.card {
    background-color: #FFFAF5;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0 0 5px rgba(67,36,17,0.05))
            drop-shadow(0 0 10px rgba(67,36,17,0.02));
}

.comment-card {
    background-color: #FFFAF5;
    border: 1px solid #e5e5e5;
    filter: none;
    box-shadow: 
        0 0 5px rgba(67,36,17,0.07),
        0 0 10px rgba(67,36,17,0.03);
}


/* Post Display */
.truncate-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Individual posts */
.list-group-item {
    background-color: #FFFAF5;
    border: 1px solid #e5e5e5;
    padding: 1.5rem;
    filter: drop-shadow(0 0 3px rgba(67,36,17,0.05))
            drop-shadow(0 0 6px rgba(67,36,17,0.02));
}

.list-group-item:hover {
    background-color: #FFFAF9;
    transform: scale(1.005);
    filter: drop-shadow(0 0px 6px rgba(67,36,17,0.1));
    box-shadow: 0 0 3px rgba(67,36,17,0.05);
}


/* Pagination */
.pagination .page-link {
    background-color: #FFFAF5;
    color: #333333;
    filter: drop-shadow(0 0 3px rgba(67,36,17,0.05))
            drop-shadow(0 0 6px rgba(67,36,17,0.02));
}

.pagination .page-item.active .page-link, 
.pagination .page-link:hover {
    background-color: #333333;
    color: #FFFAF5;
    font-weight: 500;
    border-color: #333333;
}